<section #contactRef class="contact">
  <div class="contact-text">
    <div #sectionHeader class="section-header">Contact & more</div>
    <div *ngIf="false" #sectionDescription class="section-description">
      Have a question or want to work together? Let's get in touch!
    </div>
  </div>
  <div class="section-body">
    <div #infoPanel class="info-panel">
      <div class="info">
        <div #infoIntro class="info-intro">
          Have a question or want to work together? Let's get in touch!
        </div>
        <div #info class="contact-details">
          <p class="prompt">Leave me a message {{isMobile() ? 'below' : 'on the right'}} or reach me on: </p>
          <ul class="links">
            <li><a href="mailto:rahul.gururaj96@gmail.com" target="_blank">
              <button>
                <!--            <fa-icon [icon]="['fas', 'envelope']"></fa-icon>-->
                <span>Email</span>
              </button>
            </a></li>
            <li><a href="https://www.linkedin.com/in/rahul-gururaj-b7405b149/" target="_blank">
              <button>
                <!--            <fa-icon [icon]="['fab', 'linkedin']"></fa-icon>-->
                <span>LinkedIn</span>
              </button>
            </a></li>
            <!--<li><a href="https://github.com/RGniner6" target="_blank"><button>
  &lt;!&ndash;            <fa-icon [icon]="['fab', 'github']"></fa-icon>&ndash;&gt;
              <span>Github</span>
            </button></a></li>-->
          </ul>
        </div>
        <div class="resume">
          <p class="prompt">Want more information?</p>
          <button class="button">Download resume</button>
        </div>
      </div>
    </div>
    <div class="message-panel">
      <div #card class="message-form">
        <form #formRef [formGroup]="form" (ngSubmit)="onSubmit()">
          <div class="form-group">
            <label for="name">Name </label>
            <input type="text" id="name" formControlName="name">
          </div>
          <div class="form-group">
            <label for="name">Email </label>
            <input type="text" id="email" formControlName="email">
          </div>
          <div class="form-group">
            <label for="name">Message </label>
            <textarea rows="5" type="text" id="message" formControlName="message"></textarea>
          </div>
          <button type="submit">Send</button>
        </form>
      </div>
    </div>
  </div>
</section>
