<section class="footer">
  <div class="footer-text">
    <a href="https://github.com/RGniner6/portfolio" target="_blank" class="build-desc">Built with
<!--      <fa-icon [icon]="['fab', 'angular']"></fa-icon>-->
      Angular, hosted on
<!--      <fa-icon [icon]="['fas', 'fire']"></fa-icon>-->
      Firebase</a>
    <div class="icons">
      <a href="mailto:rahul.gururaj96@gmail.com" target="_blank">
        <fa-icon [icon]="['fas', 'envelope']"></fa-icon>
      </a>
      <a href="https://www.linkedin.com/in/rahul-gururaj-b7405b149/" target="_blank">
        <fa-icon [icon]="['fab', 'linkedin']"></fa-icon>
      </a>
      <a href="https://github.com/RGniner6/" target="_blank">
        <fa-icon [icon]="['fab', 'github']"></fa-icon>
      </a>
  </div>
    </div>
</section>



