<div #navBox class="nav">
  <div #navButton (click)="toggleMenu()" class="toggle-btn">
    <span #topLine class="one"></span>
    <span #bottomLine class="two"></span>
  </div>

  <div class="nav-list">
    <ul>
      <li><a (click)="navigateTo('about')">
        <fa-icon [icon]="['fas', 'grin']"></fa-icon>
        <span class="label">About</span>
      </a></li>
<!--      <li><a (click)="navigateTo('skills')">-->
<!--        <fa-icon [icon]="['fas', 'terminal']"></fa-icon>-->
<!--        <span class="label">Skills</span>-->
<!--      </a></li>-->
      <li><a (click)="navigateTo('projects')">
        <fa-icon [icon]="['fas', 'code']"></fa-icon>
        <span class="label">Projects</span>
      </a></li>
      <li><a (click)="navigateTo('contact')">
        <fa-icon [icon]="['fas', 'address-card']"></fa-icon>
        <span class="label">Contact</span>
      </a></li>
      <li><a href="assets/Resume%20Rahul%20Gururaj.pdf" target="_blank">
        <fa-icon [icon]="['fas', 'file-alt']"></fa-icon>
        <span class="label">Resume</span>
      </a></li>
    </ul>
  </div>
</div>

<!-- FAVICONS EXAMPLE

<h2>Using Solid Icons</h2>
<fa-icon [icon]="['fas', 'square']"></fa-icon>

<h2>Using Regular Icons</h2>
<fa-icon [icon]="['far', 'square']"></fa-icon>

<h2>Using Brand Icons</h2>
<fa-icon [icon]="['fab', 'stack-overflow']"></fa-icon>-->
