<!--<h1><ng-content select=".banner-header"></ng-content></h1>-->
<div class="project">
  <div class="details">
    <h3 class="title">This is my impressive project. Behold!</h3>
    <p class="desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad aliquam, atque beatae commodi
      distinctio dolore dolores doloribus dolorum explicabo magnam maiores minus, natus neque, quam recusandae
      reprehenderit totam vel veniam.</p>
  </div>
  <div class="card">
    <img src="../../../../assets/example.png">
    <div class="card-content">
      <div class="built-with">
        <p class="tech-used">Technologies used:</p>
        <ng-content select=".tech"></ng-content>
        <ul>
          <li>Angular</li>
          <li>Node.js</li>
          <li>Firebase</li>
        </ul>
      </div>
      <div class="buttons">
        <button class="button git">View Code</button>
        <button class="button live">View Live</button>
      </div>
    </div>

  </div>
</div>
