<!--<h1><ng-content select=".banner-header"></ng-content></h1>-->
<div class="project">
  <div class="details" [ngClass]="{'flipped': !isLeft}">
    <h3 class="title">{{project.name}}</h3>
    <p class="desc">{{project.description}}</p>
  </div>
  <div class="card">
    <img src="../../../../assets/example.png" alt="Screenshot of project: {{project.name}}">
    <div class="card-content">
      <div class="built-with">
        <p class="tech-used">Technologies used:</p>
        <ul>
          <li *ngFor="let tech of project.tech">{{tech}}</li>
        </ul>
      </div>
      <div class="buttons">
        <button *ngIf="project.git" class="button git"><a href="{{project.git}}">View Code</a></button>
        <button *ngIf="project.live" class="button live"><a href="{{project.live}}">View Live</a></button>
      </div>
    </div>

  </div>
</div>
