<section class="projects">
  <div class="project-text">
    <div #sectionHeader class="section-header">Recent Projects</div>
    <div #sectionDescription class="section-description">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium blanditiis ducimus explicabo odio quo
      vero. Accusamus, cupiditate delectus deleniti distinctio dolore expedita magni mollitia nisi non officiis quos
      rem tenetur.
    </div>
  </div>
  <div class="list">
    <app-project>
      <div class="banner-header">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Esse fuga inventore </div>
    </app-project>
  </div>
</section>
