.projects {
  max-width: 90vw;
  margin-left: auto;
  margin-right: auto;
}

.project-text {
  margin-top: 50px;
  width: 60%;

  .section-description {
    margin: 20px 0;
  }
}

.list {
  margin-top: 70px;
}
