.projects {
  max-width: 90vw;
  margin-left: auto;
  margin-right: auto;
}

.project-text {
  margin-top: 50px;
  //position: absolute;
  //top: 35%;
  //transform: translate(0%, -50%);
  width: 45%;
  .title {
    font-weight: 800;
    font-size: 60px;
  }


}
