<section #landingRef class="landing">

  <div class="landing-text">
    <div #greeting class="section-header">Hello!</div>
    <div #intro class="intro">
      <div class="title">I'm Rahul</div>
      <div class="elevator-pitch">
        I'm a software engineer based in Sydney, Australia. I like building fun,
        interesting projects and performant software.
      </div>
      <div class="cta">
        <p>Check out my
          <a href="assets/Resume%20Rahul%20Gururaj.pdf" target="_blank"><span class="link">resume</span></a>
          or my
          <span class="link" (click)="navigateTo('projects')">recent projects</span> </p>
      </div>
<!--      <ul #buttons class="buttons">-->
<!--        <li>-->
<!--          <a href="assets/Resume%20Rahul%20Gururaj.pdf" target="_blank"><button class="button">Get-->
<!--          resume</button></a>-->
<!--        </li>-->
<!--        <li>-->
<!--          <button (click)="navigateTo('contact')" class="button">Contact</button>-->
<!--        </li>-->
<!--      </ul>-->
    </div>
  </div>
  <div class="illustration">
    <div class="rahul-waving">
      <div class="table"></div>
      <div #rahul class="rahul">
        <img class="bottom"
             src="../../../assets/illustrations/rahul-waving/bottom-layer.svg" alt="">
        <img #arm class="animated"
             src="../../../assets/illustrations/rahul-waving/animated-layer.svg" alt="">
        <img class="top"
             src="../../../assets/illustrations/rahul-waving/top-layer.svg" alt="">
      </div>
    </div>
  </div>
</section>
