<section class="hero">

  <div class="hero-text">
    <div #greeting class="greeting">Hello!</div>
    <div #intro class="intro">
      <div class="title">I'm Rahul</div>
      <div class="elevator-pitch">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium blanditiis ducimus explicabo odio quo
        vero. Accusamus, cupiditate delectus deleniti distinctio dolore expedita magni mollitia nisi non officiis quos
        rem tenetur.
      </div>
    </div>
  </div>
  <div class="illustration">
    <div class="rahul-waving">
      <div class="table"></div>
      <div #rahul class="rahul">
        <img class="bottom"
             src="../../../assets/illustrations/rahul-waving/bottom-layer.svg" alt="">
        <img #arm class="animated"
             src="../../../assets/illustrations/rahul-waving/animated-layer.svg" alt="">
        <img class="top"
             src="../../../assets/illustrations/rahul-waving/top-layer.svg" alt="">
      </div>
    </div>
  </div>
</section>
