<div class="container">

  <div class="illustration">
    <div class="rahul-waving">
      <div class="table"></div>
      <div #rahul class="rahul">
        <img class="bottom"
             src="../../../assets/illustrations/rahul-waving/bottom-layer.svg" alt="">
        <img #arm class="animated"
             src="../../../assets/illustrations/rahul-waving/animated-layer.svg" alt="">
        <img class="top"
             src="../../../assets/illustrations/rahul-waving/top-layer.svg" alt="">
      </div>
    </div>
  </div>
</div>
