<section #projectRef class="projects">
  <div class="project-text">
    <div #sectionHeader class="section-header">Recent Projects</div>
    <div #sectionDescription class="section-description">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium blanditiis ducimus explicabo odio quo
      vero. Accusamus, cupiditate delectus deleniti distinctio dolore expedita magni mollitia nisi non officiis quos
      rem tenetur.
    </div>
  </div>
  <div class="project-list">
    <app-project *ngFor="let project of projects; index as i"
                 [project]="project" [isLeft]="i%2==0">
    </app-project>
  </div>
  <div #gitPrompt class="github-prompt">
    <a href="https://github.com/RGniner6/" target="_blank"><button>More on Github ></button></a>
  </div>

</section>
