.projects {
  max-width: 90vw;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.project-text {
  margin-top: 50px;
  width: 50%;

  .section-description {
    margin: 20px 0;
  }
}

.project-list {
  //margin-top: -50px;
}
