<section #skillsRef class="skills">
  <div class="skills-text">
    <div #sectionHeader class="section-header">Skills</div>
    <div #sectionDescription class="section-description">
      Over the course of my <span class="highlight">BS Computer Science</span> at <span class="highlight">UNSW</span>,
      my professional experience and self
      learning endeavours, I acquired a range of technical skills. Here are some I enjoy using:
    </div>
  </div>
  <div class="section-body">
    <div class="skill-category">
      <h5 #languages class="skill-category-title">Languages</h5>
      <ul #languagesList class="skill-list">
        <li>Javascript <span class="desktop-only">(ES6+)</span></li>
        <li>Typescript</li>
        <li>Java 8</li>
      </ul>
    </div>

    <div class="skill-category">
      <h5 #frontend class="skill-category-title">Front-End</h5>
      <ul #frontendList class="skill-list">
        <li>Angular</li>
        <li>GSAP</li>
        <li>Sass</li>
<!--        <li>HTML5</li>-->
<!--        <li>CSS3</li>-->
      </ul>
    </div>

    <div class="skill-category">
      <h5 #backend class="skill-category-title">Back-End</h5>
      <ul #backendList class="skill-list">
        <li>Node.js</li>
        <li>MongoDB</li>
        <li>PostgreSQL</li>
      </ul>
    </div>

    <div class=" skill-category">
      <h5 #misc class="skill-category-title">Misc.</h5>
      <ul #miscList class="frontend skill-list">
        <li>Git <span class="desktop-only">(Github/Bitbucket)</span></li>
        <li>Photoshop</li>
        <li>Illustrator</li>
      </ul>
    </div>
  </div>
</section>
