<!--<h1><ng-content select=".banner-header"></ng-content></h1>-->
<div class="project">
  <div #details class="details" [ngClass]="{'flipped': !isLeft}">
    <h3 #title class="title">{{project.name}}</h3>
    <p #desc class="desc">{{project.description}}</p>
  </div>
  <div #card class="card">
    <img src="assets/example.png" alt="Screenshot of project: {{project.name}}">
    <div class="card-content">
      <div class="built-with">
        <p #builtWith class="tech-used">Technologies used:</p>
        <ul class="tech-list">
          <li class="tech-item" #techList *ngFor="let tech of project.tech">{{tech}}</li>
        </ul>
      </div>
      <ul #buttons class="buttons">
        <li>
          <button *ngIf="isMobile()" class="button learn-more" [routerLink]="['project', project.id]">Learn More</button>
        </li>
        <li>
          <button *ngIf="project.git" class="button git"><a href="{{project.git}}">View Code</a></button>
        </li>
        <li>
          <button *ngIf="project.live" class="button live"><a href="{{project.live}}">View Live</a></button>
        </li>
      </ul>
    </div>

  </div>
</div>
